/* styles.css */

body {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 50px;
}

.logo {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
}

label {
    font-size: 1.2em;
    color: #7A2C2E;
    display: block;
    margin-bottom: 10px;
}

.input-field {
    font-size: 1.2em;
    padding: 10px;
    border: 2px solid #D8B3B4;
    border-radius: 8px;
    width: calc(100% - 24px);
    margin-bottom: 20px;
    text-align: center;
    color: #7A2C2E;
}

.input-field::placeholder {
    color: #D8B3B4;
}
/*for menu card*/
.view-menu-button {
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #4F4847;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s;
}

.view-menu-button:disabled {
    background-color: #BEB9B7;
    cursor: not-allowed;
}

.view-menu-button:not(:disabled):hover {
    background-color: #3E3937;
}
.small-logo {
    width: 60px;
    height: auto;
    
}

h2 {
    font-size: 1.2em;
    color: #7A2C2E;
    margin-bottom: 20px;
}

.menu-card {
    background-color: #F9F9F9;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    text-align: left;
    width: calc(100% - 30px);
    
    margin: 10px auto;
}

.menu-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.menu-card .title {
    font-size: 1.1em;
    color: #7A2C2E;
    margin: 10px 0;
}

.menu-card .badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8em;
    margin-right: 5px;
}

.menu-card .badge-popular {
    background-color: #F1E1C6;
    color: #7A2C2E;
}

.menu-card .badge-spicy {
    background-color: #F7E6E7;
    color: #7A2C2E;
}

.menu-card .allergens {
    font-size: 0.8em;
    color: #7A2C2E;
    margin: 10px 0;
}

.menu-card .set-menu {
    font-size: 0.8em;
    color: #7A2C2E;
    margin: 10px 0;
}

.menu-card .price {
    font-size: 1.2em;
    color: #7A2C2E;
    margin: 10px 0;
}

.menu-card .add-to-cart-button {
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #7A2C2E;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.menu-card .add-to-cart-button:hover {
    background-color: #5A1D1F;
}

.skip-link {
    font-size: 0.8em;
    color: #7A2C2E;
    margin-top: 20px;
}

.skip-link a {
    text-decoration: none;
    color: #7A2C2E;
}

.skip-link a:hover {
    text-decoration: underline;
}

.category-tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    overflow-x: auto;
    gap:10px;
    
}

.category-tabs .tab {
    padding: 10px 20px;
    cursor: pointer;
    color: #d2d2d2;
    
    transition: background-color 0.3s;
    width: 60px;
}
.category-tabs ::-webkit-scrollbar{
    display:auto;

}

.category-tabs .tab.active {
    font-weight:600;
    color: #ab1010;
}
.menu-cards {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10px;
    gap: 60px;
}
.menu-cards::-webkit-scrollbar {
    display: auto;
}
.card-link {
    text-decoration: none;
    color: inherit;
}

.card {
    background-color: #F9F9F9;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 35px;
    margin: -1vw;
    width: 55vw;
    height: 40vh;

}

.card img {
    width: 236px;
    height: 157px;
    border-radius: 20px;
    margin-bottom: 10px;
    object-fit: scale-down;
   
}

.card .dish-name {
    font-size: 1.1em;
    color: #7A2C2E;
    margin: 10px 0;
}

.card .tags {
    margin-bottom: 10px;
}

.card .tag {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8em;
    margin-right: 5px;
}

.card .tag.popular {
    background-color: #F1E1C6;
    color: #7A2C2E;
}

.card .tag.spicy {
    background-color: #F7E6E7;
    color: #7A2C2E;
}

.card .allergens {
    font-size: 0.8em;
    color: #7A2C2E;
    margin: 10px 0;
}
.options-container {
    display: flex;
    flex-wrap: wrap;  /* Allow items to wrap to the next line */
    justify-content: center;
    gap: 10px;  /* Space between buttons */
    margin-top: 5px;
    margin-bottom: 10px;
}

.option-button {
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #F9F9F9;
    color: #7A2C2E;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    flex: 1 1 45%;  /* Make each button occupy up to 45% of the row */
    max-width: 100px;  /* Maximum width for each button */
    box-sizing: border-box;  /* Include padding and border in width */
    text-align: center;  /* Center text inside button */
    height: 30px;
}

.option-button:hover {
    background-color: #EDEDED;
}

.option-button.selected {
    background-color: #7A2C2E;
    color: #FFFFFF;
    border-color: #7A2C2E;
}

.card .price-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .price {
    font-size: 1.2em;
    color: #7A2C2E;
}

.card .add-to-cart {
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #7A2C2E;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card .add-to-cart:hover {
    background-color: #5A1D1F;
}

.proceed-to-order-button {
    font-size: 1em;
    padding: 15px;
    border: none;
    border-radius: 20px;
    background-color: #7A2C2E;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(60%);
    max-width: 800px;
}

.proceed-to-order-button.disabled {
    background-color: #BEB9B7;
    cursor: not-allowed;
}

.proceed-to-order-button.enabled:hover {
    background-color: #5A1D1F;
}

.cart-count {
    background-color: #FFFFFF;
    color: #7A2C2E;
    padding: 5px 10px;
    border-radius: 50%;
    margin-left: 10px;
}
.order-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin: 10px 0;
}

.order-item p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #7A2C2E;
}

.total-price {
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.1em;
}

.view-menu-button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #7A2C2E;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
    margin-top: 20px;
}

.view-menu-button:hover {
    background-color: #5A1D1F;
}
